PORT=PORT_VALUE

# DATABASE
DB_HOST=DB_HOST_VALUE
DB_PORT=DB_PORT_VALUE
DB_NAME=DB_NAME_VALUE
DB_USER=DB_USER_VALUE
DB_PASSWORD=DB_PASSWORD_VALUE
DB_DIALECT=DB_DIALECT_VALUE

# FRONTEND
FRONTEND_URL=FRONTEND_URL_VALUE